{% extends 'admin.twig' %}

{% block content %}
    <br/><br/><br/>
<h3>{{ lang.Messages }}</h3>
    <br/>
<table class="table table-striped" style="width:100%">
    <tr>
        <td style="width: 5%;">№</td>
        <td style="width: 10%;">{{ lang.Name }}</td>
        <td style="width: 25%;">{{ lang.Email }}</td>
        <td style="width: 50%;">{{ lang.Message }}</td>
    </tr>
    {% for item in data %}
    <tr>
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.email }}</td>
        <td>{{ item.message }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}