{% extends 'default.twig' %}

{% block header %}
    {{ lang.ContactUs }}
{% endblock %}

{% block content %}
<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">{{ lang.SendMessage }}</h3>
    </div>
    <!-- /.box-header -->
    <form action="" method="post">
        <div class="box-body">
            <div class="form-group">
                <label>{{ lang.Name }}</label>
                <input type="text" class="form-control" name="name" placeholder="{{ lang.YourName }}" required/>
            </div>
            <div class="form-group">
                <label>{{ lang.Email }}</label>
                <input type="email" class="form-control" name="email" placeholder="{{ lang.YourEmail }}" required/>
            </div>
            <div class="form-group">
                <label>{{ lang.Message }}</label>
                <textarea name="message" class="form-control" rows="3" placeholder="{{ lang.YourMessage }}" required></textarea>
            </div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            <button type="submit" class="btn btn-primary">{{ lang.Send }}</button>
        </div>
        <!-- /.box-footer -->
    </form>
</div>
{% endblock %}