{% extends 'admin.twig' %}

{% block content %}
    <br/><br/><br/>
<h3>{{ lang.AddingRegion }}</h3><br/>
<form method="post" action="">
    <div class="form-group">
        <label for="name">{{ lang.RegionName }}</label>
        <input type="text" id="name" name="name" required />
    </div>
    <div class="form-group">
        <label for="code">{{ lang.Code }}</label>
        <input type="text" id="code" name="code" required/>
    </div>
    <div class="form-group">
        <label for="city">{{ lang.City }}</label>
        <input type="text" id="city" name="city" />
    </div>
    <div class="form-group">
        <label for="population">{{ lang.Population }}</label>
        <input type="number" id="population" name="population" />
    </div>
    <div class="form-group">
        <label for="density">{{ lang.Dencity }}</label>
        <input type="text" id="density" name="density" />
    </div>
    <div class="form-group">
        <label for="area">{{ lang.Area }}</label>
        <input type="number" id="area" name="area" />
    </div>
    <div class="form-group">
        <label for="data">{{ lang.Data }}</label>
        <textarea name="data" id="data" class="form-control" required></textarea>
    </div>
    <input type="submit" class="btn btn-success" value="{{ lang.Add }}">
</form>
{% endblock %}